@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Crear una aplicacion web que muestre Destinos turisticos (Foto, Nombre, Descripcion, Precio) utilizando Entity Framework y SQLServer.</p>
