@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <br />
    <h4> Jose Ureña Aguilar</h4>
    <h4> Leandro Vargas Valverde</h4>
    <h4> Jose Alvarez</h4>
</div>