@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Entity Framework Destinos</h1>
    <p class="lead">Estudiantes:</p>
    <p class="lead">Jose Ureña Aguilar</p>
    <p class="lead">Leandro Vargas Valverde</p>
    <p class="lead">Juan Jose Alvarez</p>
    <p><a href="http://localhost:55811/Destinos" class="btn btn-primary btn-lg">Ver Destinos &raquo;</a></p>
</div>